a:hover {
  text-decoration: none;
}

#add .container{
  max-width: 500px;
  margin:50px auto;
  /*
  border:1px solid green;*/
}
  /*.form-container{

  border:1px solid black;
}*/
#add .col-sm-3,#add .col-sm-9{
  padding:0;
  /*
  border:1px solid blue;*/
}
#add .text-right{
  text-align:right;
  padding-top:5px; 
  padding-right:10px; 
}
#add .text-left{
  text-align:left;  
}
/**/
#add .form-row{
  margin:15px 0;
}
#add h3
{
    text-align:center;
}