@model Models.SysAdmin

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/custom/admin-login.css" rel="stylesheet" />
<div class="container container-small render">
    <h1>登录
        <small>没有账号？<a href="@Url.Action("Signup","SysAdmin",new{})">注册</a></small>
    </h1>
    <form action="@Url.Action("AdminLogin","SysAdmin")" method="post">
        <div class="form-group">
            <label>用户名：</label>
            <input type="text" class="form-control" name="LoginId"/>@Html.ValidationMessage("LoginId")
        </div>
        <div class="form-group">
            <label>密码：</label>
            <input type="text" class="form-control" name="LoginPwd"/>@Html.ValidationMessage("LoginPwd")
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="登录"/>
        </div>
        <div class="form-group">
            <a href="#">忘记密码？</a>
        </div>
    </form>
</div>
