@model Models.Employee

@{
    ViewBag.Title = "生成邀请码";
    Layout = "~/Views/Shared/HRMLayout.cshtml";
}
<div class="container container-small render">
    <h1>生成邀请码</h1>
    @Html.Action("PartialSearch", "Employee");
</div>
