@model Models.Employee

@{
    ViewBag.Title = "生成邀请码";
    Layout = "~/Views/Shared/HRMLayout.cshtml";
}
<div class="container container-small">
    <h1>生成邀请码</h1>
    @Html.Action("PartialSearch", "Employee")
    <div id="Verify">
        <p>点击下面“生成”按钮,分配一个邀请码：</p>
        @using (Ajax.BeginForm("ShowInvitationCode", new AjaxOptions { UpdateTargetId = "Code" }))
        {
            <div class="form-group">
                <input type="hidden" name="Empid"  id="Empid"/>
                <div class="input-group">
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="生  成" />
                    </div>
                    <div class="form-control" id="Code"></div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function Transmit(empid) {
        $('#Empid').val(empid);
    }

</script>
