ul
{
    margin:10px 0 0 20px;
    padding:0;
}
#emp
{
    margin-top:60px;
    overflow:scroll; 
}
#emp table td
{
    white-space: nowrap;
}
#dept
{
    margin-top:60px;
    overflow:scroll; 
    height:600px;
}
